.info_window {
    padding: 8px 12px 8px 32px;
    border-radius: 8px;
    background-color: #313133;
    background-image: url('./info-icon.svg');
    background-position: 8px 50%;
    background-repeat: no-repeat;
    gap: 8px;
    color: #f2f5fa;
    font-size: 14px;
    line-height: 20px;
}

.image {
    border-radius: 8px;
}

.popup {
    display: flex;
    flex-direction: column;

    width: 254px;

    background: #fff;
    gap: 4px;
}

.popup.second_variant {
    gap: 32px;
    width: 211px;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
}

.popup__text {
    display: flex;
    white-space: break-spaces;
    flex-direction: column;
    gap: 8px;
}

.popup__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup__buttons__block {
    display: flex;
    gap: 4px;
}

.close_icon {
    border: none;
    background-color: transparent;
    position: absolute;
    background-image: url('./close-icon.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    right: 8px;
}

.popup__text_title {
    color: #050d33;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
}

.popup__text_content {
    color: #7b7d85;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.button_close {
    padding: 7px;
    font-size: 16px;
    cursor: pointer;

    color: var(--text-text-prim-btn);
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--interact-interact-btn-accent);

    transition: background-color 0.2s;
}

.button_close:hover {
    background-color: var(--interact-interact-btn-accent);
}

.button_close:active {
    background-color: var(--interact-interact-btn-accent);
}

.button {
    padding: 8px;
    width: 100%;
    cursor: pointer;
    line-height: 16px;
    font-size: 14px;

    color: #050d33;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(92, 94, 102, 0.06);
    font-weight: 500;
    transition: background-color 0.2s;
}

.button:hover {
    background: rgba(92, 94, 102, 0.06);
}

.button:active {
    background: rgba(92, 94, 102, 0.06);
}
